/.vscode
.htaccess
/cgi-bin
/chat/.vscode
/chat/node_modules
chat/index.php
.htaccess
*.php
/node_modules
package-lock.json
tsconfig.json
package.json
/_ts
.hintrc
package.json
package.json
db_visits.txt
/_visits
