*
{
	box-sizing: border-box;
	position: relative;
	cursor: default;
	margin: 0;
	padding: 0;
	user-select: none;
}

a,
a *,
button,
button *
{
	cursor: pointer;
}

@media screen and (max-width: 777px)
{
	.hideonmobile
	{
		display: none !important;
	}
}

@media screen and (min-width: 777px)
{
	.hideonpc
	{
		display: none !important;
	}
}






.width100
{
	min-width: 100dvw;
	max-width: 100dvw;
	width: 100dvw;
}

.height100
{
	min-height: 100dvh;
	max-height: 100dvh;
	height: 100dvh;
}



#spotifyPlayer iframe,
#youTubePlayer iframe
{
	/* width: 100% !important; */
	/* height: 100% !important; */
}



#centerHeader
{
	background-position-x: center;
	background-repeat: repeat-x;
	background-size: contain;

	display: flex;
	position: relative;

	/* background-image: url("/_img/bckg/dark-concrete.png"); */
}

.headerButtonsContainer
{
	display: flex;
	flex-direction: row;
	justify-content: end;
	justify-self: end;

	position: absolute;
	top: 0px;
	right: 0px;

	background: var(--mainBackground);
	width: max-content;



	& .textButton
	{
		background: var(--mainBackground);
		margin: 0px;
		border-radius: 0 !important;
		padding: 10px 16px;
		cursor: pointer;
		font-size: 12px;
		font-weight: bolder;

		justify-content: center;
		align-items: center;
		color: rgba(225 225 225 / 0.6);

		border-radius: 9px;
		transition: 0.2s all linear;
		border-bottom: 1px solid transparent;
		box-shadow: 0px 0px 0px transparent;

		&:hover
		{
			border-radius: 9px;
			background: linear-gradient(315deg, #202020, #272727);
			box-shadow: -2px -2px 21px #1f1f1f,
				2px 2px 21px #292929;
			border-bottom: 1px solid rgb(80 80 80);
			color: rgba(225 225 225 / 1);
		}

		&:first-child
		{
			/* border-bottom-left-radius: 20px !important; */
		}
	}
}

.textButton
{
	padding: unset;
	background-color: unset;
	border: unset;
	outline: unset;
}



#mainAppFooter
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: end;
	width: auto;
	overflow-x: clip;

	.count
	{
		color: color-mix(in srgb, transparent 80%, var(--messageColor));
		padding-right: 16px;
		font-size: 0.8em;
		margin-left: auto;
		text-wrap: nowrap;
		margin-top: 4px;
		font-size: 12px;
		padding-left: 7px;

		&:hover
		{
			color: var(--messageColor);
			cursor: help;
		}
	}


	.logoContainer
	{
		height: 100%;
		display: block flex;
		justify-content: center;
		align-items: end;

		img
		{
			height: 100%;
			/* max height youtube player controls height: */
			max-height: 41px;
		}
	}


	/* TIPS */
	#footerTip
	{
		/* display: flex;
	flex-direction: row; */
		/* height: 18px;
	margin-top: 4px;
	margin-left: 30px; */

		display: contents;

		#footerTipLabel
		{
			display: flex;
			place-items: center;
			height: max-content;
			padding: 6px 13px;

			color: white;
			background-color: rgb(27 27 27 / 1);
			border-radius: var(--smallBorderRadius);
			font-size: 8px;
			font-weight: bolder;

			margin-top: 3px;
		}
	}

	#footerTipWrapper
	{
		margin-top: 3px;

		height: 30px;
		place-self: start;
		overflow: hidden;

		height: 25px;

		padding-left: 10px;
		place-self: start;
		overflow: hidden;

		#footerTipContent
		{

			font-size: 11px;

			ol
			{
				list-style: none;
				--_height: 21px;
				line-height: var(--_height);
				height: 1px;

				li
				{
					animation: slideUpTip 120s;
					animation-delay: 1s;
					animation-iteration-count: 4;

					&:hover
					{
						animation-play-state: paused;
					}

					span
					{
						font-size: 12px;
						color: rgb(180 180 180 / 1);
						--webkit-text-fill-color: transparent;
						-webkit-background-clip: text;
						white-space: nowrap;

						a
						{
							color: white;
							text-decoration: underline;
						}
					}
				}
			}
		}

		& p
		{
			width: 55vw;
		}
	}
}








/* NICKI UŻYTKOWNIKÓW */
a.username,
abbr.username,
abbr.at:has(+ abbr.username)
{
	font-weight: bolder;
	color: var(--_profileColor);
	font-size: var(--_fontSize);
	cursor: pointer;
}

a.username:hover,
abbr.username:hover,
abbr.at:has(+ abbr.username:hover),
abbr.at:has(+ abbr.username):hover,
abbr.at:hover + abbr.username
{
	filter: brightness(1.2);
}

a.a.username .username_span
{}






/* nieuzywane */
.resizable
{
	resize: both;
	overflow: auto;
}

.noscrollbars
{
	overflow: hidden;
	scrollbar-width: none;
}



.thinscrollbars
{
	scrollbar-width: thin;
}

.hidescrollbars:not(:hover)
{
	scrollbar-width: none;
}

/* TODO check firefox */
/* @-moz-document url-prefix()
{
	.hidescrollbars:not(:hover)
	{
		
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-color: transparent transparent;
	}
} */



.scrollerContainer
{
	width: 100%;
	height: 100%;
}

.scroller
{
	height: 100%;
	min-height: 100%;
	width: auto;
	overflow-x: hidden;
	overflow-y: auto;
}



ul,
li
{
	list-style: none;
	display: block flow;
}

button
{}

button:active,
button:hover,
button:focus
{}

.svgButton
{
	height: 3em;
	width: 3em;
	padding: 0.6em;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	cursor: pointer;
	border: none;

	svg
	{
		height: 100%;
		width: 100%;
		fill: rgb(255 255 255 / 0.8);
	}

	&:hover
	{
		background-color: rgb(255 255 255 / 0.1);

		svg
		{
			fill: rgb(255 255 255 / 0.9);
		}
	}
}






#showLoginQRCode.textButton
{
	fill: white;
	/* border: 1px solid red; */
	padding: 0px 10px;


	svg
	{
		min-width: 20px;
		max-width: 20px;
		/* border: 1px solid red; */
	}
}

#qrCodeContainer
{
	opacity: 0;
	visibility: hidden;
	width: 200px;
	height: 200px;
	border: 1px solid black;
	position: absolute;
	z-index: 99999 !important;
	place-self: center center;
	box-shadow: 5px 5px 15px rgb(22 22 22 / 1),
		-5px -5px 15px rgb(14 14 14 / 0.1),
		0px 0px 40px rgba(14 14 14 / 0.2);
}





#qrCodeCanvas
{
	animation-play-state: paused;

	cursor: pointer;
	width: 100%;
	height: 100%;

	/* background-image: linear-gradient(0deg, var(--accentColor), rgb(222 233 123 / 1)); */
	background: linear-gradient(-45deg, #23a6d5 20%, #ffffff, #23d5ab 80%);
	background-size: 500% 500%;

	animation: gradientBackgroundAnimation 18s ease-in-out infinite;
	background-position: 0% 50%;
}

#qrCodeContainer.scaleInAnimation #qrCodeCanvas
{
	animation-play-state: running;
}






*:focus-visible
{
	outline: unset !important;
}

.hidden
{
	display: none !important;
}

.show
{
	display: block flex;
}

.show-inline
{
	display: inline flex;
}

a
{
	text-decoration: none;
}