@layer index, window, youtubePlayer;

@import "grid-stack.css" layer(index);
@import "open-props.css" layer(index);
@import "general.css?11111111" layer(index);
@import "theme-main.css" layer(index);
@import "chat-area.css" layer(index);
@import "right-panel.css" layer(index);
@import "users-list.css" layer(index);
@import "users.css" layer(index);
@import "dialog.css" layer(index);
@import "messages.css" layer(index);
@import "wykopxstyle.css" layer(index);
@import "animations.css" layer(index);
@import "sidebar.css" layer(index);
@import "grid.css" layer(index);
@import "userBanned.css" layer(index);
@import "blockDetector.css" layer(index);

@import "window.css" layer(window);
@import "youtubePlayer.css" layer(youtubePlayer);

@layer index
{
	body
	{
		background: var(--mainBackground);
		font-family: sans-serif;
		box-sizing: border-box;
		height: 100dvh;
		width: 100dvw;
		overflow: hidden;
		display: block flex;
	}

	body > section
	{
		display: block flex;
		flex-direction: column;
		box-sizing: border-box;
		height: 100dvh;
		width: 100dvw;
		overflow: hidden;
	}


	div#mainContent
	{
		height: calc(100dvh - var(--topNavHeight));
		width: 100dvw;
	}
}