:root
{
	/* MANIFEST.WEBMANIFEST COLORS */
	--manifest_background_color: #1A1E23;
	--manifest_theme_color: #2B2F31;

	/* WINDOW ELEMENTS */
	/* --draggableTitleBarBackground: color-mix(in srgb, transparent 90%, var(--accentColor)); */
	--draggableTitleBarBackground: var(--manifest_theme_color);
	--draggableTitleBarBottomBorder: 1px transparent;


	/* TOP NAV */
	--topNavHeightDefault: 37px;
	--topNavHeight: var(--topNavHeightDefault);




	--chatInnerPadding: 220px 16px 16px 16px;
	--chatBaseFontSize: 16px;
	--accentColor: rgb(60, 136, 218);
	--yourAccentColor: rgba(0, 183, 255, 1);
	--nicknameColorsYoursCustom: var(--yourAccentColor);

	--tagChannelColor: rgba(0, 183, 255, 1);

	--smallBorderRadius: 4px;
	--mediumBorderRadius: 8px;
	--largeBorderRadius: 16px;

	--messagesGap: 10px;
	--messageFontSize: 13px;
	--newMessageTextareaFontSize: var(--messageFontSize);


	--mainBackground: rgb(34, 34, 34);
	--chatBackground: rgb(28, 28, 28);

	--chatBaseColor: rgb(240, 240, 240);
	--userListBackground: rgb(26, 26, 26);
	--userListFontSize: 12px;

	--channelTabBarHeight: 20px;
	--channelTabBarFontSize: var(--messageFontSize);

	/* messageArticle */
	--messageColor: rgb(218, 218, 218);

	--messageBackgroundColor: rgb(44, 44, 44);
	--messageBackgroundColor: color-mix(in srgb, transparent 100%, var(--chatBackground));


	--bucketChannelColor: rgb(218 165 32);

	--blockedColor: rgb(202, 62, 62);

	--messageBackgroundColorHover: rgb(44, 44, 44);

	--messageBorderColor: rgb(0 0 0 / 0.1);
	--messageYourBorderColor: var(--yourAccentColor);

	--messageBorderRightWidth: 5px;

	--messageEntryBorderColor: rgb(117, 117, 117);
	--messageCommentBorderColor: var(--messageBorderColor);
	--messageBorderRadius: var(--mediumBorderRadius);
	--messageHighlightQuickColor: goldenrod;

	--messageAHrefChannelColor: rgb(60, 136, 218);
	--messageAHrefChannelBackgroundColor: rgb(38, 42, 46);

	--messageAHrefExternalColor: rgb(147, 187, 231);
	--messageAHrefExternalBackgroundColor: rgb(38, 42, 46);
	--messageAHrefExternalHoverBackgroundColor: rgb(22, 27, 32);


	--messageBlockquoteColor: rgb(219 219 219);
	--messageBlockquoteBackgroundColor: rgb(50, 50, 50);
	--messageBlockquoteFontStyle: italic;
	--messageBlockquoteFontSize: 0.85em;
	--messageBlockquoteBorderRadius: var(--mediumBorderRadius);

	--messageCodeColor: rgb(181 255 199);
	--messageCodeBackgroundColor: rgb(20, 20, 20);
	--messageCodeFontStyle: normal;
	--messageCodeFontSize: 0.85em;
	--messageCodeBorderRadius: 0;

	--messageAbbrColor: var(--messageColor);
	--messageAbbrMentionsYouColor: var(--yourAccentColor);



	/* GUTTERS */
	--gutterBackground: transparent;
	--successColor: rgb(49, 163, 59);
	--errorColor: rgb(211, 77, 37);


	/* YOUTUBE */
	--youtubeColor: rgb(185 1 1 / 1);
	--youtubeTextColor: rgb(255 255 255 / 1);
	--youtubeCompletedColor: rgb(10 10 10 /1);
	--youtubeScheduledColor: rgba(94, 94, 94, 0.1);


	/* SIDEBAR */
	--sidebarBorderColor: rgb(180 180 180);
	--sidebarAccentColor: rgb(28 140 231);
	--sidebarBackgroundColor: rgb(15 19 24);
	--sidebarBackgroundActiveColor: rgb(30 35 45);
	--sidebarTextColor: rgb(88 102 121);
	--sidebarTextActiveColor: rgb(255 255 255);

	--sidebarHoverWidth: 250px;
	--sidebarOpenWidth: 280px;
	--sidebarMiniWidth: 50px;

}





:root [data-night-mode="0"]
{
	--mainBackground: rgb(182, 206, 219);
	--chatBackground: rgb(255, 255, 255);
	--chatBaseColor: rgb(30, 30, 30);
	--userListBackground: var(--chatBackground);


	/* GUTTERS */
	--gutterBackground: transparent;
}





.messageArticle
{
	--_genderColor: var(--niebieskiPasek1);
	--_profileColor: var(--nicknameOrange1);
	--_fontSize: var(--messageFontSize);
}

.orange-profile
{
	--_profileColor: var(--nicknameOrange1);
}

.burgundy-profile
{
	--_profileColor: var(--nicknameBurgundy1);
}

.green-profile
{
	--_profileColor: var(--nicknameGreen1);
}

.black-profile
{
	/* TODO */
	--_profileColor: var(--blackish);
}

.null-gender
{
	--_genderColor: var(--bezplciowyPasek1);
}

.f-gender,
.female
{
	--_genderColor: var(--rozowyPasek1);
}

.m-gender,
.male
{
	--_genderColor: var(--niebieskiPasek1);
}

.banned
{
	--_statusColor: var(--banned)
}

article.messageArticle.channelOwner
{
	/* wiadomosc od autora kanału */
	border: 1px solid orange;
}