#rightPanelArea
{
	overflow-x: hidden;
	overflow-y: auto;
	/* border: 1px solid yellow; */
	height: auto;
	min-height: 100%;

	border-radius: var(--mediumBorderRadius);
	min-width: 200px;
	background: var(--userListBackground);



	#usersPanel,
	#roomsPanel
	{
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	#usersPanel
	{
		/* display: none; */
	}


	#roomsPanel
	{
		display: none;
	}
}

#rightPanelArea #usersPanel .usersList .usersListContainer
{
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(-90deg, rgb(19 19 19 / 0.5), rgb(13 13 13 / 0.5)), url(/_img/bckg/dark-suede.png);
	background-attachment: local;
	border: 1px solid rgb(0 0 0 / 0.4);
	box-shadow: inset 0px 42px 58px -40px rgb(0 0 0 / 0.6), inset 0px -46px 58px -40px rgb(0 0 0 / 0.6);
	background-position: left;
	background-repeat: repeat;
}